<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<title>班车位置</title>
<link rel="icon" href="favicon.ico">
<style>
* {
	font-size:11pt;
}

a.line {
	display:inline-block;
	padding:0.5em 1em;
}

a.line.cur {
	background-color:#eee;
}

#map {
	width:100%;
	height:550px;
	border:#ccc solid 1px;
}
</style>
</head>
<body>

<div th:if="${errorMsg}" th:text="${errorMsg}">...</div>

<div id="list"></div>

<div id="map"></div>

<script src="cash.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
<script th:inline="javascript">
//创建和初始化地图函数：
function initMap(){
	createMap();//创建地图
	setMapEvent();//设置地图事件
	addMapControl();//向地图添加控件
}

//创建地图函数：
function createMap(){
	var map = new BMap.Map("map");//在百度地图容器中创建一个地图
	var point = new BMap.Point(116.395645, 39.929986);//定义一个中心点坐标
	map.centerAndZoom(point, 12);//设定地图的中心点和坐标并将地图显示在地图容器中
	window.map = map;//将map变量存储在全局
}

//地图事件设置函数：
function setMapEvent(){
	map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
	map.enableScrollWheelZoom();//启用地图滚轮放大缩小
	map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
	map.enableKeyboard();//启用键盘上下左右键移动地图
}

//地图控件添加函数：
function addMapControl(){
	//向地图中添加比例尺控件
	var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
	map.addControl(ctrl_sca);
	//向地图中添加缩放控件
	var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT,type:BMAP_NAVIGATION_CONTROL_ZOOM});
	map.addControl(ctrl_nav);
}

//创建marker
function addMarker(lon, lat){
	var point = new BMap.Point(lon, lat);
	var myIcon = new BMap.Icon("bus.gif", new BMap.Size(19, 25), {offset:new BMap.Size(10,25)});
	var marker = new BMap.Marker(point, {icon:myIcon});
	map.addOverlay(marker);
	map.centerAndZoom(point, 14);
}

$(function() {
	var did = /*[[${did}]]*/ null;

	var list = $('#list').empty();
	var lines = /*[[${lines}]]*/ [];
	lines.forEach(function(line) {
		if (line.id > 0) {
			$('<a></a>')
				.attr('href', '?did=' + line.gps_device_id)
				.addClass(line.gps_device_id == did ? 'line cur' : 'line')
				.text(line.name)
				.appendTo(list);
		}
	});

	initMap();//创建和初始化地图

	var locations = /*[[${locations}]]*/ [];
	locations.forEach(function(loc) {
		if (loc.gps_device_id == /*[[${did}]]*/ 868120205237610) {
			addMarker(loc.lon, loc.lat);//向地图中添加marker
		}
	});

//	var map = $('#map').empty();
//	locations.data.forEach(function(loc) {
//		if (loc.gps_device_id == /*[[${did}]]*/ 868120205237610) {
//			var pos = loc.lon + ',' + loc.lat;
//			var url = 'http://api.map.baidu.com/staticimage?center=' + pos + '&zoom=15&width=600&height=450&markers=' + pos;
//			$('<img>')
//				.attr('width', '100%')
//				.attr('src', url)
//				.appendTo(map);
//		}
//	});
})
</script>
</body>
</html>
