<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<title>世纪互联班车位置</title>
<link rel="icon" href="favicon.ico">
<style>
* {
	font-size:11pt;
}

a.line {
	display:inline-block;
	padding:0.5em 1em;
	user-select:none;
}
a.line.cur {
	background-color:#eee;
}

#map {
	width:100%;
	height:550px;
	border:#ccc solid 1px;
}
#map.disconnected {
	border:#f66 solid 5px;
	margin:-4px;
}
</style>
</head>
<body>

<div id="lines"></div>

<div id="map"></div>

<script src="cash.min.js"></script>
<script src="anime.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=lv1upIfGGA9Bj69kIcOBU1b86hPxbVpp"></script>
<script th:inline="javascript">
var map;
var buttons = {};
var markers = {};
var initShow = true;
var lockDid = null;
var websocket;

$(function() {
	var lines = /*[[${lines}]]*/ [];
	var specs = {};
	lines.forEach(function(line) {
		if (line.id < 0) return;
		var spec = IconBuilder.nextSpec();
		specs[line.gps_device_id] = spec;
		var button = $('<a></a>')
			.addClass('line')
			.on('btn-click', function() {
				locateTo(line.gps_device_id, false);
			})
			.on('btn-long-press', function() {
				locateTo(line.gps_device_id, true);
			})
			.append(IconBuilder.buildIcon(spec))
			.append($('<span></span>').text(line.name))
			.appendTo($('#lines'));
		buttons[line.gps_device_id] = button;
	});
	longPressSupport('.line');

	// 扩展 BMap.Marker 使其支持移动功能
	BMap.Marker.prototype.moveTo = function(lon, lat) {
		var me = this;
		var origPosition = this.getPosition();
		var animPosition = {lon:origPosition.lng*1000000, lat:origPosition.lat*1000000};
		anime({
			targets: animPosition,
			lon: lon*1000000,
			lat: lat*1000000,
			round: 1,
			duration: 1000,
			easing: 'linear',
			update: function() {
				me.setPosition(new BMap.Point(animPosition.lon/1000000, animPosition.lat/1000000));
			}
		});
	};

	// 创建地图
	map = new BMap.Map('map'); 
	map.centerAndZoom(new BMap.Point(116.403874,39.914889), 11);

	map.enableScrollWheelZoom();
	map.enableKeyboard();
	map.enableDragging();
	map.enablePinchToZoom();

	// 比例尺
	var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
	scaleControl.setUnit(BMAP_UNIT_METRIC);
	map.addControl(scaleControl);
	// 缩放控制
	var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_RIGHT, type:3});
	map.addControl(navControl);

	// 为每车创建一个标记
	var locations = /*[[${locations}]]*/ [];
	locations.forEach(function(loc) {
		var point = new BMap.Point(loc.lon, loc.lat);
		var spec = specs[loc.gps_device_id];
		var marker = new BMap.Marker(point, {icon:IconBuilder.buildMapIcon(spec)});
		map.addOverlay(marker);
		markers[loc.gps_device_id] = marker;
	});

	openWebSocket();
});

// 实现一个按钮的“点击”和“长按”功能。
function longPressSupport(sel) {
	var delay = 500;
	var maxDiffX = 10;
	var maxDiffY = 10;
	var startX = 0;
	var startY = 0;
	var timer = null;
	var isTouch = (('ontouchstart' in window) || (navigator.MaxTouchPoints > 0) || (navigator.msMaxTouchPoints > 0));
	var mouseDown = isTouch ? 'touchstart' : 'mousedown';
	var mouseUp = isTouch ? 'touchend' : 'mouseup';
	var mouseMove = isTouch ? 'touchmove' : 'mousemove';
	$(document.body)
		.on(mouseDown, function(evt) {
			var btn = $(evt.target).closest(sel);
			if (btn.length < 0) return;
			startX = isTouch ? evt.touches[0].clientX : evt.clientX;
			startY = isTouch ? evt.touches[0].clientY : evt.clientY;
			clearTimeout(timer);
			timer = setTimeout(function() {
				timer = null;
				var myEvt = new Event('btn-long-press');
				btn.each(function(idx, el) {
					el.dispatchEvent(myEvt);
				});
			}, delay);
		})
		.on(mouseUp, function(evt) {
			if (timer == null) return;
			var btn = $(evt.target).closest(sel);
			if (btn.length < 0) return;
			clearTimeout(timer);
			timer =  null;
			var myEvt = new Event('btn-click');
			btn.each(function(idx, el) {
				el.dispatchEvent(myEvt);
			});
		})
		.on(mouseMove, function(evt) {
			var clientX = isTouch ? evt.touches[0].clientX : evt.clientX;
			var clientY = isTouch ? evt.touches[0].clientY : evt.clientY;
			if (timer == null) return;
			if (clientX < startX - maxDiffX ||
				clientX > startX + maxDiffX ||
				clientY < startY - maxDiffY ||
				clientY > startY + maxDiffY) {
				clearTimeout(timer);
				timer =  null;
			}
		});
}

var IconBuilder = {
	x_offsets: [23, 46, 69, 92, 115, 0],
	nextSpec: function() {
		var x_offset = this.x_offsets.shift();
		this.x_offsets.push(x_offset);
		return {x: x_offset};
	},
	buildIcon: function(spec) {
		return $('<span></span>')
			.width(19)
			.height(25)
			.css({
				'background-image': 'url(markers.gif)',
				'background-position-x': '-' + spec.x + 'px',
				'background-position-y': '0px',
				'display': 'inline-block'
			});
	},
	buildMapIcon: function(spec) {
		return new BMap.Icon(
			'markers.gif',
			new BMap.Size(19, 25),
			{
				imageOffset: new BMap.Size(-spec.x, 0),
				anchor: new BMap.Size(10, 25)
			}
		);
	}
};

function locateTo(gps_device_id, lock) {
	if (initShow) map.setZoom(14);
	initShow = false;
	lockDid = lock ? gps_device_id : null;

	// 更新按钮的状态
	for (var did in buttons) {
		var button = buttons[did];
		if (did == gps_device_id) {
			button.addClass('cur');
			(function(btn) {
				setTimeout(function() {
					if (lockDid == null) {
						btn.removeClass('cur');
					} else {
						btn.addClass('cur');
					}
				}, 200);
			})(button);
		} else {
			button.removeClass('cur');
		}
	}

	// 显示到指定的标记
	for (var did in markers) {
		var marker = markers[did];
		if (did == gps_device_id) {
			marker.setTop(true);
			map.panTo(marker.getPosition());
		} else {
			marker.setTop(false);
		}
	}
}

function refreshLocations(locations) {
	// 更新所有标记的坐标位置
	locations.forEach(function(loc) {
		var marker = markers[loc.gps_device_id];
		marker.moveTo(loc.lon, loc.lat);
		if (lockDid == loc.gps_device_id) {
			map.panTo(new BMap.Point(loc.lon, loc.lat));
		}
	});
}

function openWebSocket() {
	if (websocket != null) {
		return;
	}

	// 建立webSocket连接
	var wsUrl = 'ws://' + window.location.host + '/ws';
	websocket = new WebSocket('ws://' + window.location.host + '/ws');

	// 打开webSokcet连接时，回调该函数
	websocket.onopen = function () {
		$('#map').removeClass('disconnected');
	}

	// 关闭webSocket连接时，回调该函数
	websocket.onclose = function () {
		//关闭连接
		websocket = null;
		$('#map').addClass('disconnected');

		// 延迟 2 秒后重新建立连接
		setTimeout(openWebSocket, 2000);
	}

	websocket.onerror = function () {
		websocket = null;
		$('#map').addClass('disconnected');
	}

	// 接收信息
	websocket.onmessage = function (evt) {
		var json = evt.data;
		var locations = JSON.parse(json);
		refreshLocations(locations);
	}
}
</script>
</body>
</html>
