<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<title>ws</title>
<link rel="icon" href="favicon.ico">
<style>
* {
	font-size:11pt;
}

a.line {
	display:inline-block;
	padding:0.5em 1em;
}
a.line.cur {
	background-color:#eee;
}

#map {
	width:100%;
	height:550px;
	border:#ccc solid 1px;
}
#map.disconnected {
	border:red solid 1px;
}
</style>
</head>
<body>

<div id="lines"></div>

<div id="map"></div>

<script src="cash.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=lv1upIfGGA9Bj69kIcOBU1b86hPxbVpp"></script>
<script th:inline="javascript">
var map;
var buttons = {};
var markers = {};
var cur_did = null;
var websocket;

$(function() {
	var lines = /*[[${lines}]]*/ [];
	lines.forEach(function(line) {
		if (line.id < 0) return;
		var button = $('<a></a>')
			.addClass('line')
			.text(line.name)
			.on('click', function() {
				locateTo(line.gps_device_id);
			})
			.appendTo($('#lines'));
		buttons[line.gps_device_id] = button;
	});

	// 创建地图
	map = new BMap.Map('map'); 
	map.centerAndZoom(new BMap.Point(116.403874,39.914889), 11);

	map.enableScrollWheelZoom();
	map.enableKeyboard();
	map.enableDragging();
	map.enablePinchToZoom();

	// 比例尺
	var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
	scaleControl.setUnit(BMAP_UNIT_METRIC);
	map.addControl(scaleControl);
	// 缩放控制
	var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT, type:3});
	map.addControl(navControl);

	// 为每车创建一个标记
	var locations = /*[[${locations}]]*/ [];
	locations.forEach(function(loc) {
		var point = new BMap.Point(loc.lon, loc.lat);
		var myIcon = new BMap.Icon('bus.gif', new BMap.Size(19, 25), {anchor:new BMap.Size(-10, -25)});
		var marker = new BMap.Marker(point, {icon:myIcon});
		map.addOverlay(marker);
		markers[loc.gps_device_id] = marker;
	});

	openWebSocket();
})

function locateTo(gps_device_id) {
	if (!cur_did) map.setZoom(14);
	cur_did = gps_device_id;

	// 更新按钮的状态
	for (var did in buttons) {
		var button = buttons[did];
		if (did == cur_did) {
			button.addClass('cur');
		} else {
			button.removeClass('cur');
		}
	}

	// 显示到指定的标记
	for (var did in markers) {
		var marker = markers[did];
		if (did == cur_did) {
			marker.setTop(true);
			map.panTo(marker.getPosition());
		} else {
			marker.setTop(false);
		}
	}
}

function openWebSocket() {
	if (websocket != null) {
		return;
	}

	// 建立webSocket连接
	var wsUrl = 'ws://' + window.location.host + '/ws';
	websocket = new WebSocket('ws://' + window.location.host + '/ws');

	// 打开webSokcet连接时，回调该函数
	websocket.onopen = function () {
		$('#map').removeClass('disconnected');
	}

	// 关闭webSocket连接时，回调该函数
	websocket.onclose = function () {
		//关闭连接
		websocket = null;
		$('#map').addClass('disconnected');

		// 延迟 2 秒后重新建立连接
		setTimeout(openWebSocket, 2000);
	}

	websocket.onerror = function () {
		websocket = null;
		$('#map').addClass('disconnected');
	}

	// 接收信息
	websocket.onmessage = function (evt) {
		var json = evt.data;
		var locations = JSON.parse(json);
		// 更新所有标记的坐标位置
		locations.forEach(function(loc) {
			var marker = markers[loc.gps_device_id];
			marker.setPosition(new BMap.Point(loc.lon, loc.lat));
		});
	}
}
</script>
</body>
</html>
